{% if not app.user %}                                     
<div class="row contenu-space-cli py-2">
    <div class="col-6 droite border-end border-1">
        <div class="row">
            <p class="question text-start">Êtes-vous déjà client chez nous ?</p>
        </div>
        <div class="row d-block">
            <div class="col">
            <form method="post">
                <div class="mb-1">
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Adresse E-mail" name="email" value="{{ app.session.get('email') }}">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="password" placeholder="Mot de passe" name="password">
                </div>

                <input type="hidden" name="csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >           

                <div class="mb-3 form-check text-start text-checkbox">
                    <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me">
                    <label class="form-check-label" for="remember_me">Rester connecté</label>
                </div>                                                             
            </div>

            <div class="col">
                <button type="submit" class="btn btn-primary w-100 align-items-center lh-1" name="valider">Se connecter maintenant</button>
            </div>   
            </form>
        </div>
        
        <div class="row">
            <a href="{{ path('app_forgot_password_request') }}">
                <div class="col">
                    <p class="text-center text-bottom mt-2 mb-0">Vous avez oublié votre mot de passe ?</p>
                </div>
            </a> 
        </div>
    </div>

    <div class="col-6 droite">
        <div class="row">
            <p class="question text-start">N'êtes-vous pas encore client ?</p>
        </div>
        <div class="row d-block">
            <div class="col">
                <p class="text-start contenu-text-right">
                    En tant que client Village Green
                    vous pouvez suivre vos envoies,
                    lire des test produits exlusifs,
                    évaluer des prduits, déposer
                    des petites annonces, gérer
                    vos chèques-cadeaux, devenir
                    partenaire et bien plus encore.
                </p>
            </div>
            <div class="col">
            <a href="#"><button type="submit" class="btn btn-primary w-100 align-items-center lh-1" data-bs-toggle="modal" data-bs-target="#modal">S'inscrire</button></a>
                {% include('/layouts/modal.html.twig') %} {# choix entre part et pro type modal#}
            </div>   
        </div>

        <div class="row">
            <div class="col">
                <p href="#" class="text-center text-bottom mt-2 mb-0">Plus d'informations</p>
            </div>
        </div> 
    </div>   
</div>
{% else %} 
    {% include('/security/logout.html.twig') %}
{% endif %}          
 
              