
<div class="row contenu-space-cli py-2">
    <div class="col-6 droite border-end border-1">
        <div class="row">
            <p class="question text-start">Êtes-vous déjà client chez nous ?</p>
        </div>
        <div class="row d-block">
            <div class="col">
            <form action="{{ path('security_login')}}" method="post">
                <div class="mb-1">
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Adresse E-mail" name="_username">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" id="email" placeholder="Mot de passe" name="_password">
                </div>
                <div class="mb-3 form-check text-start text-checkbox">
                    <input type="checkbox" class="form-check-input" id="text-checkbox">
                    <label class="form-check-label" for="text-checkbox">Rester connecté</label>
                </div>                                                             
            </div>
            
            <div class="col">
                <button type="submit" class="btn btn-primary w-100 align-items-center lh-1">Se connecter maintenant</button>
            </div>   
            </form>
        </div>
        
        <div class="row">
            <div class="col">
                <p href="#" class="text-center text-bottom mt-2 mb-0">Vous avez oublié votre mot de passe ?</p>
            </div>
        </div>
    </div>

    <div class="col-6 droite">
        <div class="row">
            <p class="question text-start">N'êtes-vous pas encore client ?</p>
        </div>
        <div class="row d-block">
            <div class="col">
                <p class="text-start contenu-text-right">
                    En tant que client Village Green
                    vous pouvez suivre vos envoies,
                    lire des test produits exlusifs,
                    évaluer des prduits, déposer
                    des petites annonces, gérer
                    vos chèques-cadeaux, devenir
                    partenaire et bien plus encore.
                </p>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary w-100 align-items-center lh-1">S'inscrire</button>
            </div>   
        </div>

        <div class="row">
            <div class="col">
                <p href="#" class="text-center text-bottom mt-2 mb-0">Plus d'informations</p>
            </div>
        </div> 
    </div>   
</div> 
 