{% extends 'layouts/base.html.twig' %}

{% block title 'Village green' %}

{% block body %}
<header id="background">
    <div class="container registration"> 
        {# header navigation #} 
        {{ include('/layouts/header_navigation.html.twig') }} 

        <div class="contenant-page">
            {# card inscription #}
            <div class=" d-flex justify-content-center mt-5 js-filter">
                <div class="col-11 card card-filtre">
                    <div class="card-body">
                        <div class="row form-registration">
                            <div class="col d-flex justify-content-center">
                               
                            </div>
                        </div> 
                    </div>
                </div>
            </div>   
        </div> {# fermeture contenant-page #}
            
        {# footer #} 
        {{ include('/layouts/footer.html.twig') }}
    </div> {# fermeture du container products #}   
</header>
{% endblock %}

