{% extends 'layouts/base.html.twig' %}

{% block title 'Village green' %}

{% block body %}
   <footer>
        <div id="footer">
            <div class="row d-flex justify-content-between">
                <div class="col-4 p-0">
                    <p class="text-offres">Recevez <span>nos offres exclusives</span></p>
                    <form class="form-footer">
                        <input type="email" class="form-control fst-italic" id="email" aria-describedby="emailHelp" placeholder="Votre adresse e-mail">
                        <button type="submit" class="btn btn-primary py-1">Valider</button>
                    </form>
                </div>

                <div class="col-2 p-0 suivez-nous">
                    <p class="text-suivez"><span>Suivez-nous </span>par ici !</p>
                    <div class="logo-reseaux">
                        <div>
                            <a href="#"><img class="img-fluid" src="{{ asset('build/images/picto_facebook.png') }}" alt="logo facebook"></a>
                        </div>
                        <div>
                            <a href="#"><img class="img-fluid" src="{{ asset('build/images/picto_twitter.png') }}" alt="logo twitter"></a>
                        </div>
                    </div>  
                </div>

                <div class="col-4 p-0 logos-footer">
                    <div>
                        <img class="img-fluid" src="{{ asset('build/images/logo_footer.png') }}" alt="logo d'enseigne">
                    </div>
                </div>  
            </div>  

                <div class="contenu-footer">
                <div class="row">
                    <div class="col-3 text-contact">
                        <p class="titre">Contacter nous !</p>
                        <p class="sous-titre">Conseil / Commande téléphone</p>
                        <p class="corps-texte">du lundi au vendredi de 8h à 19h,<br> le samedi de 10h à 18h.</p>

                        <p class="corps-texte mb-0">Depuis la France :</p>
                        <p class="titre mb-3">02 40 38 50 50</p>

                        <p class="corps-texte mb-0">Belgique, Suisse, International :</p>
                        <p class="titre mb-3">0033 2 40 38 50 50</p>

                        <p class="sous-titre">Service après vente :</p>
                        <p class="titre mb-0">02 51 80 68 76</p>
                        <p class="corps-texte">Contactez-nous part téléphone<br>du lundi au samedi de 9h à 18h<br>ou depuis votre compte client.</p>

                        <p class="sous-titre">Conseils pour choisir<br>un instrument :</p>
                        <a href="#" class="text-decoration-none"><p class="corps-texte">infovg@villagegreen.com</p></a>

                        <p class="sous-titre">Service Presse :</p>
                        <a href="#" class="text-decoration-none"><p class="corps-texte">contact@villagegreen.com</p></a>

                        <p class="sous-titre">Village Green Recrute !</p>
                    </div>

                    <div class="col-3 text-stores">
                        <p class="titre">Village Green Stores
                          <a href="{{ path('app_login_admin')}}" class="button-admin-secret">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-record" viewBox="0 0 16 16">
                                <path d="M8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0 1A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
                            </svg>
                          </a>  
                        </p>
                        
                        <p class="sous-titre mb-2">Ouverts de 10h à 19h30 non-stop.</p>

                        <p class="corps-texte">Guitares-Amplificateurs-Effets :<br><span class="text-italic"> 182 avenue Jean Jaurès<br>75019 Paris</span></p>
                        <p class="corps-texte">Clavier-Home-Studio-Sonorisation<br>Equipement DJ-Eclairage :<br><span class="text-italic">182 avenue Jean Jaurès<br>75019 Paris</span></p>
                        <p class="corps-texte">Librairie Musicale :<br><span class="text-italic">7 av. du Nouveau Conservatoire<br>75019 Paris</span></p>
                        <p class="corps-texte">Instruments à vent :<br><span class="text-italic">9/11 av. du Nouveau Conservatoire<br>75019 Paris</span></p>
                        <p class="corps-texte">Percussions :<br><span class="text-italic">13/15 av. du Nouveau Conservatoire<br>75019 Paris</span></p>
                        <p class="corps-texte">Métro Ligne 5, station Porte de Pantin.</p>
                        <p class="corps-texte">Plan d'accès / Visite virtuelle</p>   
                    </div>

                    <div class="col-3 text-utile">
                        <p class="titre">Utile !</p>
                        <a href="#" class="text-decoration-none"><p class="corps-texte">Qui somme nous ?</p></a>
                        <a href="#" class="text-decoration-none"><p class="corps-texte">F.A.Q.</p></a>
                        <a href="#" class="text-decoration-none"><p class="corps-texte">le blog Village Green</p></a>
                        <a href="#" class="text-decoration-none"><p class="corps-texte">Vous avez un site Internet ?<br>Devenez partenaire Village Green</p></a>
                        <a href="#" class="text-decoration-none"><p class="corps-texte">Conditions générales de vente</p></a>
                        <a href="#" class="text-decoration-none"><p class="corps-texte">Mentions légales</p></a>
                        <a href="#" class="text-decoration-none"><p class="corps-texte">Plan du site</p></a>
                        <a href="#" class="text-decoration-none"><p class="corps-texte">Parrainage</p></a>
                        <a href="#" class="text-decoration-none"><p class="corps-texte">Nouveautés</p></a>
                        <a href="#" class="text-decoration-none"><p class="corps-texte">Assurance Woodbrass.com</p></a>
                        <a href="#" class="text-decoration-none"><p class="corps-texte">Location d'instruments de musique</p></a>
                    </div>

                    <div class="col-3 text-society">
                        <p class="titre">Village Green<br>Preservation Society</p>
                        <a href="#" class="text-decoration-none"><p class="corps-texte">Toute l'actualité musicale</p></a>
                        <a href="#" class="text-decoration-none"><p class="corps-texte">Voir l'avis des musiciens</p></a>
                        <a href="#" class="text-decoration-none"><p class="corps-texte">Concours : inscription et résultat.. à vous de<br> jouer !</p></a>
                    </div>
                </div>

                <div class="row text-copyright">
                    <p class="corps-texte mt-2 mb-0">Village Green est une entreprise 100% Made in France !</p>
                    <p class="corps-texte mb-0">Magasin de musique - Achat / Vente instruments de musique - Location instruments de musique - Atelier de réparation - Vente accessoires de musique au meilleur prix.</p>
                    <p class="corps-texte mb-1">1989-2021-RCS Paris B 222 333 444 Déclaration CNIL : 12345678.</p>
                </div>
            </div>     
        </div> {# fermeture du #footer #}

        <div id="pied-page">
            <div class="row pied-page">
                <p class="categorie-footer mt-3 mb-3">Guitares - Amplis / Effets - Clavier / Pianos - Synthés - Batteries / Percussions - Vents - Violons - Home Studio - Sonorisation - Deejay - Éclairage - Micros - Casques - Enregistreurs - Lifestyle - Déstockage - Ecoles & Pros</p>
                <p class="mots-clé-footer mb-3">Behringer - Bose - Conservatoire de musique de Paris - Fender - Focusrite - Gibson 2021 - Gibson - Guitar Shop - Guitare Martin - Guitare Taylor - Guitare classique - Guitare folk - Guitare éléctrique
                <br>IK Multimédia - Luthier Paris - Magasin DJ Paris - Magasin instruments de musique Paris - Magasin sonorisation Paris - Microphone USB - Musique - Namm - Partition alto - Partition clarinette - Partition flute - Partition Guitare
                <br>Partition harmonica - Partition musique - Partition piano - Partition saxophone - Partiton trombone - Partition trompette - Partition vibraphone - Partition violon - Partiton xylophone - Piano pas cher - Pioneer DJ - Platine vinyle
                <br>Site internet DJ - Site internet Deejay - Site internet Violon - Sono Behringer - Tablature guitare - Tablatures - Ukulele - Vente sono - Yamaha RS - batterie débutant</br>
            </div>
        </div> {# fermeture du pied de page #}       
    </footer>
{% endblock %}