<div class="modal fade p-0" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row modal-header p-2 d-flex justify-content-between">
                <div class="col-3 ml-5 title-modal">
                   <h2 class="h5 m-0 p-0 text-center">Je suis</h2> 
                </div>
                <div class="col-1 text-end">
                    <button type="button btn btn-primary" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span>X</span></button>
                </div>
            </div>
                
            <div class="modal-body">
                <div class="row d-flex justifiy-content-around">
                    <div class="col-6">
                        <a href="{{ path('app_registration_user') }}"><button type="button" class="btn btn-primary w-100 align-items-center lh-1 button-modal">Un particulier</button></a>
                    </div>
                    <div class="col-6">
                        <a href="{{ path('app_registration_pro') }}"><button type="button" class="btn btn-primary w-100 align-items-center lh-1 button-modal">Un professionnel</button></a>   
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>