{% extends 'layouts/base.html.twig' %}

{% block title 'Village green' %}

{% block body %}
    <header id="background">
        <div class="container products"> 
            {# header navigation #} 
            {{ include('/layouts/header_navigation.html.twig') }} 

            {#<div class="row mt-5">
                <div class="col-5">
                    <p>{{ pluralize(products|length, 'RESULTAT', 'RESULTATS') }}</p> {# création d'une fonction twig pluriel singulier voir Twig/AppExtension 
                </div>
            </div>#}

            <div class="row contenant-page">
                  
            </div>
             
            {# footer #} 
            {{ include('/layouts/footer.html.twig') }}
        </div> {# fermeture du container #}   
    </header>
{% endblock %}