{% extends 'layouts/base.html.twig' %}

{% block title 'Village green' %}

{% block body %}
    <header id="background">
        <div class="container subCategory"> 
            {# header navigation #} 
            {{ include('/layouts/header_navigation.html.twig') }}

            <div class="row mt-5">
                <div class="col-5">
                    <p>{{ pluralize(products|length, 'RESULTAT', 'RESULTATS') }}</p> {# création d'une fonction twig pluriel singulier voir Twig/AppExtension #}
                </div>
            </div> 

            <div class="contenant-page">
                {% for products in products %}  
                    {% if products.subcategory.id is same as (app.request.get('id')|abs) %} {# abs renvoie la valeur absolue donc convertie id type string en id int #}
                        <h1>{{ products.label }}</h1>    
                    {% endif %}
                {% endfor %}
            </div> {# fermeture contentant-page #}
             
            {# footer #} 
            {{ include('/layouts/footer.html.twig') }}
        </div> {# fermeture du container products #}   
    </header>
{% endblock %}