{% extends 'layouts/base.html.twig' %}

{% block title 'Village green' %}

{% block body %}
<header id="background">
    <div class="container account"> 
        {# header navigation #} 
        {{ include('/layouts/header_navigation.html.twig') }} 

        <div class="contenant-account edit">
            <div class="text-center mx-auto">
               <h1 class="text-center mt-5">Modifier mes données personnelles</h1> 
            </div>
            <hr>

            <div class="row d-flex justify-content-around">
                {# card info perso #}
                <div class="col-11 d-flex mt-5">
                    {% include('account/partials/card_edit_profil.html.twig') %}
                </div>
            </div>

        </div> {# fermeture contenant-page #}
            
        {# footer #} 
        {{ include('/layouts/footer.html.twig') }}
    </div> {# fermeture du container products #}   
</header>
{% endblock %}