{% extends 'layouts/base.html.twig' %}

{% block title 'Village green' %}

{% block body %}
    <header id="background">
        <div class="container-fluid container-admin-dashboard">
            <div class="row">
                {# -----gauche menu----- #}
                {% include('admin/layouts/menu_admin.html.twig') %}
                {# ------fermeture gauche menu----- #}

                {# -----droite corps----- #}
                <div class="col body" id="body">
                    {# navbar #}
                    <div class="col mt-3">
                        {% include('admin/layouts/navbar_admin.html.twig') %}
                    </div>
                    {# fermeture navbar #}

                    {# titre du champs + boutton modifier #}
                    <div class="row mt-5">
                        <div class="col-10 d-flex">
                            <div class="col-10">
                                <h2 class="m-0">Commande</h2>
                            </div>
                        </div>
                        <div class="col d-flex justify-content-end align-items-center">
                            <a href="#">
                                <button type="button" class="btn btn-primary mb-3">Créer une commande</button>
                            </a> 
                        </div>
                    </div>

                    <hr>

                    <div class="row mt-5">
                        <div class="col-12 d-flex justify-content-between">
                            <div class="col-5">
                                <button type="button" id="ButtonEnCoursLivraison" class="btn btn-primary w-100">Commande en cours de livraison</button>
                            </div>
                            <div class="col-5">
                                <button type="button" id="ButtonCommandeAll" class="btn btn-primary w-100">Toute les commandes</button>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-12 d-flex justify-content-between">
                            <div class="col-5">
                                <button type="button" id="ButtonPartFiltre" class="btn btn-primary w-100">Commande particulier</button>
                            </div>
                            <div class="col-5">
                                <button type="button" id="ButtonProFiltre" class="btn btn-primary w-100">Commande professionnel</button>
                            </div>
                        </div>
                    </div>

                    <main>
                        {% include('admin/orders/partials/table_orders_delivery.html.twig') %}
                        
                        {% include('admin/orders/partials/table_orders_all.html.twig') %}
                        
                        {% include('admin/orders/partials/table_orders_part.html.twig') %}

                        {% include('admin/orders/partials/table_orders_pro.html.twig') %}
                    </main>

                </div>
                {# -------fermeture droite corps------ #}               
            </div>         
        </div>
    </header>
{% endblock %}
