 {# navbar admin #}
<div class="row border-bottom border-dark navbar-admin">
    <div class="col-7 d-flex justify-content-center">
        <form class="d-flex col-7">
            <input class="form-control mb-3" type="search" placeholder="Rechercher.." aria-label="Search">
        </form>
    </div>
    <div class="col d-flex justify-content-end align-items-center">
        <p class="m-0 text-end">
            Connecté sous 
            <span class="fw-bold">AdminName</span> 
        </p>
    </div>
</div>
