//**********************************************************************************************************************************************************//
//****************************************************---------------------- ADMIN ----------------------***************************************************//
//**********************************************************************************************************************************************************//

.contenant-admin {

    //***********************************************************************//
    //**************************** PAGE CATEGORIES **************************//
    //***********************************************************************//

    h1 {
        font-size: 45px;
        font-weight: 500;
        color: $bleu;
    }

    hr {
        width: 90%;
        margin: auto;
        color: $orange;
    }

    th {
        font-size: 17px;
        font-weight: 600;
    }

    td {
        font-size: 15px;
        font-weight: 500;
    }

    button {

        &.add {
            @include buttonColor;
            font-weight: 500;  
            height: 40px;

                &:focus {
                    box-shadow: none;
                }

        }

        &.edit {
            font-size: 12px;
            font-weight: 500;  
            height: 30px;

                &:focus {
                    box-shadow: none;
                }
        }

        &.delete {
            font-size: 12px;
            font-weight: 500;  
            height: 30px;

                &:focus {
                    box-shadow: none;
                }
        }
        
    }     
    
    //______modal______//

    .modal-content {
        background: rgb(180, 0, 0);

            p {
                color: $blanc;

                    &.conf-delete {
                        font-size: 17px;
                        font-weight: 600;
                    }
                }

    }

    //***********************************************************************//
    //************************ PAGE SOUS-CATEGORIES *************************//
    //***********************************************************************//

    img {

        &.imageList {
            width: 60px;
            height: auto;
        }
    }

   

}