//**********************************************************************************************************************************************************//
//****************************************************---------------------- ADMIN ----------------------***************************************************//
//**********************************************************************************************************************************************************//

//***********************************************************************//
//**************************** PAGE CATEGORIES **************************//
//***********************************************************************//

.contenant-admin {

    h1 {
        font-size: 45px;
        font-weight: 500;
        color: $bleu;
    }

    hr {
        width: 90%;
        margin: auto;
        color: $orange;
    }

    button {
        @include buttonColor;
        font-weight: 500;  
        height: 40px;

            &:focus {
                box-shadow: none;
            }
    }      

}