//**********************************************************************************************************************************************************//
//**************************---------------------- LES PAGES APRES CLICK BOUTTON COMMANDE (DOSSIER ORDER_STEP) ----------------------***********************//
//**********************************************************************************************************************************************************//

.contenant-connection {

    //***********************************************************************//
    //*************************** PAGE CONNEXION ****************************//
    //***********************************************************************//

    p {
        font-size: 18px;
        font-weight: 500;
    }

    input {
        background: $gris-muted;
        border-color: rgb(175, 175, 175);
        height: 30px;
        font-size: 15px;

        &:focus {
            box-shadow: none;
            border-color: $orange;
        }
    }

    a {
        text-decoration: none;
        font-weight: 500;
        color: $bleu;

            p {
                font-size: 13px;
            }

        &.cgv {
            color: $orange;
            text-decoration: underline;
        }
    }

    .button-connection {
        @include buttonColor;
        font-size: 10px;
        font-weight: 500;
        height: 35px;
    }

    .button-boutique {
        color: $orange;
        background: none;
        border: 1px solid $orange;
        font-size: 10px;
        font-weight: 600;
        height: 35px;
        transition: all .2s linear;

            &:hover {
                background: #000;
                border: 1px solid #000;
                color: $blanc;
            }
    }

    .button-registration {
        @include buttonColor;
        font-size: 10px;
        font-weight: 500;
        height: 35px;
    }

    .text-progress {
        font-size: 13px;
        font-weight: 500;

        &.color {
            color: $orange;
        }
    }

    //***********************************************************************//
    //*************************** PAGE LIVRAISON ****************************//
    //***********************************************************************//

   p {

        &.ship-title {
                font-size:15px;
            }

        &.small {
            font-size: 12px;
        }

        &.small-text {
            font-size: 11px;
        }

   }

   .button-edit {
        color: $orange;
        background: none;
        border: 1px solid $orange;
        font-size: 10px;
        font-weight: 600;
        height: 30px;
        transition: all .2s linear;

            &:hover {
                background: #000;
                border: 1px solid #000;
                color: $blanc;
            }
   }

   .button-back {
        color: $orange;
        background: none;
        border: 1px solid $orange;
        font-size: 13px;
        font-weight: 600;
        height: 40px;
        transition: all .2s linear;

            &:hover {
                background: #000;
                border: 1px solid #000;
                color: $blanc;
            }
   }

   .button-next {
        font-size: 13px;
        font-weight: 600;
        width: 150px;
        height: 40px;
   }

   hr {
    width: 95%;
    margin: auto;
    color: $orange;

    &.between-products {
        width: 100%;
        margin-bottom: 20px;
    }
}

   //_________card modification de l'adresse de livraison________//
   .card.edit-shipping {

        label {
            font-size: 13px;
            font-weight: 500;
        }

        select {
            background: $gris-muted;
            border-color: rgb(175, 175, 175);
            height: 30px;
            font-size: 14px;

            &:focus {
                font-size: 15px;
                background-color: $blanc;
                box-shadow: none;
                border-color: $orange;
            }
        }
   }

    //***********************************************************************//
    //************************** PAGE DE PAIEMENT ***************************//
    //***********************************************************************//

    .btn-price-total {
        font-size: 14px;
        font-weight: 500;
    }

    input {
        margin-right: 20px;
    }

    img {
        width: 100px;
        height: auto;
    }

    .block-info {
        padding-left: 30px;
        line-height: 20px;
        margin-top: 25px;
    }

    p {

        &.brand {
             margin: 0;
            font-size: 13px;
            font-weight: 400;

            span {
                font-weight: 600; 

                    &.price {
                        color: $orange;
                    }
            }
        }

        &.price {
            color: $orange;
        }
       
    }

    .quantity {
        font-weight: 500;
        color: $orange;
    }

    .X4 {
        color: $orange;
        font-weight: 600;
    }
}
