$bleu: #00093D;
$blanc: #FFFFFF;
$gris-muted: #CCCCCC; 
$gris-back: #E6E6E6;
$orange: rgb(181,84,0);
$gris-foncé: #333333;
$gris-semi: #4D4D4D;
$rouge: rgb(218, 0, 0);

/* Généralité */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

.invalid-feedback {
    font-weight: 500;
    font-size: 10px;
}
