
/************************** Apparence du container **************************/

@mixin apparenceContainer {
    max-width: 1200px;
    min-height: 1850px;
    background-color: $gris-back;
    height: 100vh;
    box-shadow: -7px 5px 7px rgba(0, 0, 0, 0.5);
    padding: 0;
}


/************************** Apparence du popover de catégorie **************************/

@mixin apparencePopover {
    position: absolute;
    background-color: $gris-back;
    transition: all 0.3s linear;
    margin-top: 13px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 20px;
    opacity: 0;
}



/************************** Apparence du texte du popover de catégorie **************************/
@mixin apparenceTextPopover {
    .texte-popover {
        text-align: left;
        padding-left: 20px;
        padding-right: 5px;

            a {
                font-size: 15px;
                font-weight: 500;
                color: #333333;

                &:hover {
                    color: $orange;
                    transition-duration: 200ms;
                }
            }

            .line-height {
                margin-top: 13px;
            }
    }

}

/************************** Apparence du triangle au dessus du popover **************************/
@mixin apparenceTriangle {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid gainsboro;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}