//**********************************************************************************************************************************************************//
//******************************************---------------------- LES PAGES RESET-PASSWORD ----------------------******************************************//
//**********************************************************************************************************************************************************//

//***********************************************************************//
//******** TEMPLATE REINITIALISER LE MOT DE PASSE ENTRER EMAIL **********//
//***********************************************************************//
.reset-password-request {

        h5 {
            font-size: 25px;
            font-weight: 600;
            color: $bleu;
        }

        .card-reset {
            margin: 150px 0 300px 0;
            border-radius: 0.25rem;
            box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
        }

        input {
            font-size: 15px;
            border-color: rgb(175, 175, 175);
            
                &:focus {
                    box-shadow: none;
                    border-color: $orange;
                }
        }
    
        small {
            font-size: 12px;
            color: $gris-semi;
        }

        button {
            @include buttonColor;
            font-size: 15px;
            width: 140px;
            font-weight: 500;
            margin-top: 30px;

            &:hover {
                box-shadow: none;
                border: none;
            }       
        }

        .FlashError {
            font-size: 13px;
            font-weight: 400;
        }
}

//***********************************************************************//
//************* TEMPLATE LIEN E-MAIL DE REINITIALISATION ****************//
//***********************************************************************//

.reset-password-check-email {

    .card-check-email {
        margin: 150px 0 300px 0;
        border-radius: 0.25rem;
    }

    p {
        line-height: 25px;
        font-size: 14px;
        font-weight: 500;

            a {
                font-weight: 600;
                color: $orange;
            }
    }

    span {
        font-weight: 600;
        color: $orange;
    };
}

//***********************************************************************//
//************* TEMPLATE DE REINITIALISATION ENTRER LE ******************//
//*************         NOUVEAU MOT DE PASSE           ******************//
//***********************************************************************//

.reset-password {

    h5 {
        font-size: 25px;
        font-weight: 600;
        color: $bleu;
    }

    .card-reset {
        margin: 150px 0 300px 0;
        border-radius: 0.25rem;
        box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
    }

    input {
        font-size: 14px;
        border-color: rgb(175, 175, 175);
        
            &:focus {
                box-shadow: none;
                border-color: $orange;
            }
    }

    button {
        @include buttonColor;
        font-size: 15px;
        font-weight: 500;
        margin-top: 30px;

        &:hover {
            box-shadow: none;
            border: none;
        }       
    }

}